<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Spotify Wallpaper</string>
	<key>CFBundleExecutable</key>
	<string>SpotifyWallpaper</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.shashvat.spotifywallpaper</string>
	<key>CFBundleName</key>
	<string>Spotify Wallpaper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.2</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Spotify Wallpaper reads what's playing in Spotify so it can draw the song onto your wallpaper.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
